<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: antiquewhite;
            text-align: center;

        }

        .x {
            background-color: red;
            color: white;
        }

        h2 {
            background-color: blue;
            color: white;
            padding: 12px;
            border-radius: 6px;
        }
    </style>
</head>

<body>
    <h1>預測本期大樂透號碼:</h1>
    <h2><span class="number">{{numbers}}</span> 特別號:
        <span class="x">
            {{x}}
        </span>

    </h2>
    <button onclick="get_lotto()">預測</button>
    <script>
        function get_lotto() {
            location.reload();
        }
    </script>
</body>

</html>